h1{
    text-align: center;
}

img{
    width: 1500px;
    height: 700px;

}

.carusel-inner{
    color: aliceblue;
}

h5{
    color: aliceblue;
}

.informacion{
    color: cadetblue;
    text-align: center;
}